@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
  header{
    background-color: rgb(54, 54, 54);
    padding: 30px;
    h1{
      margin: 0px;
      text-align: center;
      font-size: 50px; 
      color: rgb(253, 245, 238);
      font-family: 'Libre Caslon Text', serif; 
    }
}