@import url('https://fonts.googleapis.com/css2?family=Asul&family=Scope+One&display=swap');
p{
    font-family: 'Asul', sans-serif;
    background-color: rgb(118, 118, 118);
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 0px;
}